In [9]:
##Question no.1

def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

n = 9
result = factorial(n)
print("Factorial of", n, "is", result)

Factorial of 9 is 362880

In [10]:
##Question no.2

n = 5

for i in range(1, 11):
    print(n, "x", i, "=", n * i)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [11]:
##Question no.3

def fib(n):
    a=1
    b=1
    for i in range(n):
        yield a,i
        a,b=b,a+b

fib(10)

for i in fib(10):
    print(i)

(1, 0)
(1, 1)
(2, 2)
(3, 3)
(5, 4)
(8, 5)
(13, 6)
(21, 7)
(34, 8)
(55, 9)

In [12]:
##Question no.4

def is_armstrong_number(num):
    order = len(str(num))
    temp = num
    sum = 0

    while temp > 0:
        digit = temp % 10
        sum += digit ** order
        temp //= 10

    if num == sum:
        return True
    else:
        return False

number = 153
if is_armstrong_number(number):
    print(number, "is an Armstrong number")
else:
    print(number, "is not an Armstrong number")

153 is an Armstrong number

In [13]:
##Question no.5

def find_armstrong_numbers(start, end):
    armstrong_numbers = []
    for num in range(start, end + 1):
        order = len(str(num))
        temp = num
        sum = 0

        while temp > 0:
            digit = temp % 10
            sum += digit ** order
            temp //= 10

        if num == sum:
            armstrong_numbers.append(num)
    
    return armstrong_numbers

start = 100
end = 500
armstrong_nums = find_armstrong_numbers(start, end)
print("Armstrong numbers between", start, "and", end, ":", armstrong_nums)

Armstrong numbers between 100 and 500 : [153, 370, 371, 407]

In [14]:
##Question no.6

def sum_of_natural_numbers(n):
    return (n * (n + 1)) // 2

number = 10
sum_result = sum_of_natural_numbers(number)
print("Sum of natural numbers up to", number, "is", sum_result)

Sum of natural numbers up to 10 is 55